

<app-navbar></app-navbar>
<main>
    <img id="mg"  src="/images (4).jfif" alt="">
    <article>
        <div class="p1">
            - Hi {{name}}
        </div>

        <div class="p2">
           This is your page
        </div>
        <br>
        <div class="p3">
        What<sup>are </sup>you <sup>Looking For</sup>
        </div>
        <div class="p4">
            Search
        </div>
        <div class="button">
            <form class="d-flex" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success" type="submit">Search</button>
              </form>
        </div>
        
    </article>
</main>
