<div>
    <app-dash-board></app-dash-board>
    <main>
        <img id="mg"  src="/images (4).jfif" alt="">
        <article>
            <div class="p1">
                - Hii Admin
            </div>
    
            <div class="p2">
               This is Your Page
            </div>
            <div class="p3">
                Happy<sup>to</sup>see <sup> You</sup>
            </div>
            <div class="p4">
                Users are waiting for your Updations
            </div>
            <div class="button">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success" type="submit">Search</button>
                  </form>
            </div>
            
        </article>
    </main>
    
</div>



