


<main>
    <img id="mg"  src="/images (4).jfif" alt="">
    <article>
        <div class="p1">
            - Welcome To Slice
        </div>

        <div class="p2">
           WE ARE WAITING
        </div>
        <div class="p3">
        How<sup>Can</sup>I <sup>Help You</sup>
        </div>
        <div class="p4">
            You are in safe hands, just login or signup with your email and explore the site.
        </div>
        <div class="button">
            <button class="btn" routerLink="/user-auth/login"><a ></a>Login</button>
            <button class="btn pr-3" routerLink="/user-auth/register"><a ></a>Signup</button>
        </div>
        
    </article>
</main>
