


<main>
    <img id="mg"  src="/images (4).jfif" alt="">
    <article>
        <div class="p1">
            - Welcome To Slice Admin
        </div>

        <div class="p2">
           Users ARE WAITING FOR YOUR CONTRIBUTION
        </div>
        <div class="p3">
        How<sup>Can</sup>I <sup>Help You</sup>
        </div>
        <div class="p4">
            Login
        </div>
        <div class="button">
            <button class="btn"><a href="#"></a>Login</button>
           
        </div>
        
    </article>
</main>
